.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: center;
    line-height:30px;
}
.flex-item {
    border: 1px solid black;
    background: #636262;
    color: white;
    width: 30px ;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:auto;
}

.selected {
    background: #868282 !important;
}
.bomb {
    background: #f32e2e !important;
}
.flex-item:before {
    content:'';
    float:left;
    padding-top:30px;
}

.board {
    width: 40%;
    margin: auto;
}

.data {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.data > span {
    padding-left: 30px;
}

.options {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 15px;
}
.options span {
    padding-left: 8px;
    padding-bottom: 15px;
}
.container {
    display: flex;
}
